<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
   	<title>Corona Virus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        .iconStyle{
            height:20px;
            margin-left:5px;
        }
    </style>
  </head>

  <body>
	<div class="container">
	    <h3>Corona Virus Tracker Application</h3>
	    <p>This Application Lists the current number of cases reported across the Globe</p>
	    <div class="jumbotron">
	    	<p>
	            <span>Total cases reported as of Today : </span>
	            <b><span th:text="${totalReportedCases}"></span></b>
	        </p>
	        <!--<p class="lead">Total cases reported as of Today</p>
	        <b><span th:text="${totalReportedCases}"></span></b>-->
	        <!--<hr class="my-4">-->
	        <p>
	            <span>New Cases reported since previous day : </span>
	            <b><span th:text="${totalNewCases}"></span></b>
	        </p>
	        <p>
	            <span>Total Recovered : </span>
	            <b><span th:text="${totalRecovered}"></span></b>
	        </p>
	        <p>
	            <span>Recovered since previous day : </span>
	            <b><span th:text="${totalRecoveredToday}"></span></b>
	        </p>
	        <p>
	            <span>Total Deaths : </span>
	            <b><span th:text="${totalDeaths}"></span></b>
	        </p>
	        <p>
	            <span>Deaths since previous day : </span>
	            <b><span th:text="${totalDeathsToday}"></span></b>
	        </p>
	    </div>
	
	    <table class="table table-striped">
		  <thead class="thead-dark">
	        <tr>
	            <th>Country</th>
	            <th>Total Cases</th>
	            <th>New cases</th>
	            <th>Recovered Cases</th>
	            <th>Newly Recovered Cases</th>
	            <th>Death(s) Cases</th>
	            <th>New Death(s) Cases</th>
	        </tr>
	      </thead>  
	        <tr th:each="locationsStat : ${locationsStats}">
	            <td th:text="${locationsStat.country}"></td>
	            <td th:text="${locationsStat.updated}? ${locationsStat.latestCases} : 'Not Updated'">0</td>
	            <td th:if="${locationsStat.diffFromPrevDay == 0}">0</td>
	            <td th:if="${locationsStat.diffFromPrevDay > 0}"><span th:text="${locationsStat.diffFromPrevDay}"></span><img src="sort-up.png" class="iconStyle"></img></td>
	            <td th:if="${locationsStat.diffFromPrevDay < 0}"><span th:text="${-locationsStat.diffFromPrevDay}"></span><img src="sort-down.png" class="iconStyle"></img></td>
	            <td th:text="${locationsStat.recovery}"></td>
	            <td th:if="${locationsStat.recoveryDiffFromPrevDay == 0}">0</td>
	            <td th:if="${locationsStat.recoveryDiffFromPrevDay > 0}"><span th:text="${locationsStat.recoveryDiffFromPrevDay}"></span><img src="sort-up.png" class="iconStyle"></img></td>
	            <td th:if="${locationsStat.recoveryDiffFromPrevDay < 0}"><span th:text="${-locationsStat.recoveryDiffFromPrevDay}"></span><img src="sort-down.png" class="iconStyle"></img></td>
	            <td th:text="${locationsStat.death}"></td>
	            <td th:if="${locationsStat.deathDiffFromPrevDay == 0}">0</td>
	            <td th:if="${locationsStat.deathDiffFromPrevDay > 0}"><span th:text="${locationsStat.deathDiffFromPrevDay}"></span><img src="sort-up.png" class="iconStyle"></img></td>
	            <td th:if="${locationsStat.deathDiffFromPrevDay < 0}"><span th:text="${-locationsStat.deathDiffFromPrevDay}"></span><img src="sort-down.png" class="iconStyle"></img></td>
	        </tr>
	    </table>
	</div>
	
	</body>

</html>