<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Corona Virus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
  </head>

  <body>
  <div class="container-fluid">

   <div class="jumbotron">
   	<h1 class="display-4">Corona Virus Statistics!</h1>
  	<p class="lead">This is a simple effort to display the corona virus related statistics information</p>
  	<hr class="my-4">
  	<p/>
  	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link active" href="#">New Cases 10</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" href="#">Total Cases 292</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" href="#">Total Recovered 22</a>
	  </li> 
	  <li class="nav-item">
	    <a class="nav-link active" href="#">Total Deaths 3</a>
	  </li>
	</ul>
  	
   </div>
  	
  	<table class="table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Country/Region</th>
	      <th scope="col">Province/State</th>
	      <th scope="col">Total Reported</th>
	      <th scope="col">Changes since last day</th>
	    </tr>
	  </thead>
      <tr th:each="countryStat : ${countryStatistics}">
        <td th:text="${countryStat.country}">NA</td>
        <td th:text="${countryStat.state}">NA</td>
        <td th:text="${countryStat.totalReportedCases}">NA</td>
        <td th:text="${countryStat.differenceFromPrevDay}">NA</td>
      </tr>
    </table>
  
    <p>
      <a href="../home.html" th:href="@{/}">Return to home</a>
    </p>
  </div>
  </body>

</html>